body {
    background-color: purple;
}

.pages{
    background-color: cyan;
}

.LikeDih{
    background-color: orangered;
    color: lime;
}

header{
    color: white;
}

em{
    color: yellow;
}

strong{
    color: white;
}

p{
    color: white;
}

*{
    margin-left: 20px;
    margin-right: 20px;
}