html{
    background-color: gray;
}

body {
    margin: 40px;
    padding: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 10px solid black;
    background: purple;
}

.pages{
    background-color: cyan;
}

.LikeDih{
    background-color: orangered;
    color: lime;
}

header{
    color: white;
}

em{
    color: yellow;
}

strong{
    color: white;
}

p{
    color: white;
    line-height: 1.5em;
}

#titlay{
    background-color: blue;
    position: sticky;
    top: 50px;
    bottom: 50px;
}


#blog{
    border-top: 1px dotted lightgray;
    display: flex;
    flex-direction: column;
}

.blog-post{
    border-bottom: 1px dotted lightgray;
}

table{
    float: right;
    margin: 20px;
    width: 200px;
    height: 200px;
}

img{
    float: right;
    margin: 20px;
    width: 300px;
    height: 300px;
}


