html{
    background-color: gray;
}

body {
    margin: 40px;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 10px solid black;
    background: purple;
}

.pages{
    background-color: cyan;
}

.LikeDih{
    background-color: orangered;
    color: lime;
}

header{
    color: white;
}

em{
    color: yellow;
}

strong{
    color: white;
}

p{
    color: white;
    line-height: 1.5em;
}

#blog{
    border-top: 1px dotted lightgray;
}

.blog-post{
    border-bottom: 1px dotted lightgray;
}

#titlay{
    background-color: blue;
    position: sticky;
    top: 50px;
    bottom: 50px;
}